a:hover {
	text-decoration: none;	
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
* {
	outline: none !important;
}
body {
	font-family: 'Ubuntu', sans-serif;
	/*min-width: 302px;*/
	/*overflow: hidden;*/
}
.container {
	/*overflow: hidden;*/
}
.firstNav {
	display: flex;
	/*background: #5e5e5e;*/
	/*background: linear-gradient(#383838, #232323, #383838);*/
	height: 40px;
	color: white;
	font-size: .9em;

	background: #6e6e6e;	
}
.aboutUsAndCallWrapper {
	display: flex;
}
.firstNav a {
	color: white;
	flex-wrap: nowrap;
}
.firstNav i {
	color: silver;
}
.firstNav li {
	flex-wrap: nowrap;
}
.line {
	border-right: 2px solid white;
	height: 1.6em;
	margin: 0 14px;
}
.lline {
	border-right: 2px solid white;
	height: 1.5em;
	margin: 0 14px;	
}
.entrance {
	display: flex;
	align-items: center;
	font-size: 1.1em;
	margin-left: 17px;
}
.entrance a {
	color: #f4ffed;
	font-size: .9em;
}
.linePadding {
	margin: 0 29px;
	border-right: 2px solid #f4ffed;
	height: 1.2em;
}
.navRow {
	display: flex;
	justify-content: space-between !important;
}
.ulNav {
	width: 100%;
	flex-wrap: nowrap;
}
.ulNav li {
	min-width: max-content;
}
.clock {
	margin: 0 14px;
	margin-left: 5px;
}
.registr a {
	color: black;
}
.rori {
	/*background: orange;*/
	/*height: 100px;*/
	padding: 0 25px;
	/*display: flex;*/
}
.rori .row {
	/*flex-wrap: nowrap;*/
}

/********************logo*********************/

.row img {
	width: 100%;	
}
.btnWrapper button {
	width: 130px;	
}
.btnWrapper {
	/*display: flex;
	justify-content: space-between;*/
	/*width: 300px;*/
	/*margin-right: 110px;*/
	display: flex;
	justify-content: space-between;
	flex: 1;
}
.btn-sell {
	background: #ed7d19;
	border-color: #ed7d19;
}
.btn-sell:hover {
	background: #ce6f1d;
	border-color: #ce6f1d;
}
.cont {
	background: #5e5e5e	;
	margin-right: -24px;
	display: flex;
	align-items: center;
}
.cont .container {
	height: 50px;
	display: flex;
	align-items: center;
}
.cont button::after {
	display:none;
	outline: none;
	box-shadow: none;
}
.loginIcon {
	background: #848484;
	border-color: #848484;
	height: 32px;
	display: flex;
	align-items: center;
}
.loginIcon:hover {
	background: #989898;
	border-color: #989898;
}
.contTemp {
	background: orange;
	height: 100px;
}
.hamburgerWrapper {
	margin-left: 35px;
	margin-right: 12px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 33px;
}    
.hamburger-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.skipRow {
	width: 100%;
	display: flex;
	height: 100%;
	align-items: center;
}
.skipRow button {
	/*top: -5px;*/
	position: relative;
}

/***************skipMenu**************/

.skipMenuContainer {
	position: absolute;
	z-index: 4;
	display: flex;
	justify-content: flex-end;
	/*overflow-x: hidden;*/
}
.skipMenu {
	padding: 7px 0;
	min-width: 300px;
	background: white;
	border-radius: 4px;
	border: 1px solid silver;	
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	position: fixed;
	transition: .2s;
	/*left: 18px;*/
	right: -300px;
	opacity: 0;
}
.skipMenu a li {
	display: flex;
	align-items: center;
	height: 60px;
	color: #5e5e5e;
	/*background: lime;*/
	/*border-bottom: 1px solid silver;*/
	padding: 0 25px;
}
.skipMenu i {
	color: silver;
}
.skipMenu a:last-child li {
	border-bottom: initial;
}
.mainSkipMenu {
	display: none;
	z-index: 18;
}
.showMainSkipMenu {
	left: -1px;	
	opacity: 1;
}
.underline {
	border: .5px solid silver;
	width: 83%;
	align-self: center;
}

/*****************firstBackgroundSection****************/

.firstBackgroundSection {
	background: url(../img/background_coffee_main.jpg) no-repeat center / cover;
	height: auto;
	padding: 50px 20px;
}
.firstBackgroundItemsRow {
	height: 40px;
	background: #ffffffc7;
	border-radius: 5px;
	display: flex;
	align-items: center;
	display: flex;
	justify-content: space-around;
	/*flex-direction: column !important;*/
}
.firstBackgroundItemsRow a {
	color: black;
}
.firstBackgroundSection input {
	background: #ffffff00;
	width: 340px;
	border: none;
	height: 100%;
	font-size: 1em;
}

.inputMainWrapper {
	display: flex;
	width: 60%;
	margin: 0 auto;
	position: relative;
	left: 30px;
	align-items: center;
}
.inputMainWrapper .col {
	padding-left: 0;
}
.inputMainWrapper input {

}
.skipNavigation {
	/*background: linear-gradient(#383838, #232323, #383838);*/
	background: #6e6e6e;
	/*background: #5e5e5e;*/
	/*padding: 8px;*/
	position: fixed;
	width: 100%;
	z-index: 3;
}
.skipNavigationSpace {
    height: 54px;
}
.col input {
	width: 100%;
	border: none;
	background: #dbdbdc;
}
.inputWrapper {
	background: #dbdbdc;
	padding: 0 8px;
	border-radius: 5px;
	height: 31px;
	display: flex;
	align-items: center;
}
.inputWrapperSecond {
	display: flex;
	align-items: center;
}
.inputPadding {
	padding: 0 9px;
	background: #ffffffc7;
	height: 100%;
	border-radius: 5px;
}
.inputRow {
	position: relative;
	top: 0;
}
.backgroundDivs div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.backgroundDivs div div {
	min-width: 270px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ffffffc7;
	color: black;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 35px;
}
.backgroundDivs div div:hover {
	background: #e9e9e9c7;
}
.backgroundDivs a {
	color: black;
}
.vertItems {
	position: relative;
	top: 100px;
}
.wideUnderLine {
	border-bottom: 2px solid #7a7a7a;
	margin: 0 13px;
}
.listingWord {
	background: linear-gradient(#383838, #232323, #383838);
	color: white;
	display: inline-block;
	width: 200px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 50px;
	box-shadow: 0px 7px 13px 0px rgba(209,209,209,1);	
}
.card {
	box-shadow: 0px 10px 16px 0px rgba(209,209,209,1);	
}
.listingMainContainer {
	margin-top: 50px;
}
.bizActivesCardsContainer {
	/*height: 400px;*/
	background: purple;
	display: flex;
	color: white;
	margin-bottom: 50px;
	box-shadow: 0px 10px 16px 0px rgba(209,209,209,1);	
}
.firstCol {
	background: url(../img/background_coffee_main.jpg) no-repeat center / cover;
	width: 45%;
	height: 400px;
	overflow: hidden;
}
.secondCol {
	background: pink;
	/*width: 100%;*/
	flex: 1;
	display: flex;
}
.robi {
	background: url(../img/1.jpg) no-repeat center / cover;
}
.nrobi {
	background: url(../img/ddccb8c2532657f6935ddd4cb96fdfd4ff7c970a-750x480.jpg) no-repeat center / cover;
}
.bizActivesCardsContainerLilCards {
	overflow: hidden;
	height: 200px;
}
.seeAllButton {
	height: 50px;
	background: linear-gradient(#ffa200, #ff6801);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px;
	border-radius: 5px;
	box-shadow: 0px 7px 13px 0px rgba(209,209,209,1);	
}
.aboveBlog {
	margin-bottom: 100px;
}
.blogPhoto {
	background: url(../img/1.jpg) no-repeat center / cover;
	width: 30%;
	height: 200px;
	box-shadow: 0px 10px 16px 0px rgba(209,209,209,1);	
}
.blogPhotoCenter {
	width: 34%;
	height: 220px;
	position: relative;
	top: -20px;
}
.blogPhotosWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 50px;
}
.aboutUsContainer {
	background: #e3e5e4;
	border: 1px solid #dddddd;
	padding: 20px 30px;
	border-radius: 5px;
	box-shadow: 0px 10px 16px 0px rgba(209,209,209,1);	
	margin-bottom: 80px;
}
.footerContainer {
	height: 100px;
	background: #282828;
	color: white;
	display: flex;
	align-items: center;
	font-size: .9em;
}
.footerContainer img {
	border-radius: 5px;
	width: 240px;
}
.footerContainer .container {
	display: flex;
	justify-content: center;
}
.footerInnerContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}
.footerTextWrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footerTextWrapper ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.footerTextWrapper li {
	color: white;
}
.footerTextWrapper i {
	color: silver;
}
.footerImgContainer {
	flex: 1;
	display: flex;
	justify-content: center;
}


/*2 cтраница*/

.menuLeft{
	background: #494B4A;
	padding: 40px 30px;
}

.menuLeft ul li{
	list-style: none;
}
.menuLeft ul li a{
	width: 170px;
	text-decoration: none;
	color: #fff;
	display: block;
	font-size: 17px;
	margin: 10px 0 10px 0;
}
.menuLeft ul li a:hover{
	color:#1D65AE;
}

.contentmain{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 30%;
}

.contentMenu2{
	display: flex;
	flex-wrap: wrap;
	margin:0 20px;
	flex-direction: column;
}
.crudButton {
	background: #cc2526;
	color: white;
	display: flex;
	justify-content: center;
	height: 45px;
	align-items: center;
	border-radius: 5px;
	width: 200px;
	margin-bottom: 20px;
}

.blockcontentmenu{
	width: 285px;
	box-shadow: 0 0 10px #ccc;
	margin: 0 5px 30px 5px;
	background: #fff;
}

.blockcontentmenu img{
	width: 285px;
}

.blockcontentmenu h5{
	font-size: 17px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.blockcontentmenu span{
	font-size: 20px;
	text-align: center;
	background: #67A5B4;
	padding: 15px 30px;
	border-radius: 5px;
	color: #fff;
	position: relative;
	top: -15px; left: 55px;
}

.blockcontentmenu p{
	margin-top: 10px;
	text-align: center;
	line-height: 10px;
}

.blockcontentmenu button{
	margin-top: 10px;
	text-align: center;
	background: #FF9501;
	border: 1px solid #FE7600;
	color: #fff;
	text-transform: uppercase;
	width: 285px;
	padding: 10px 0;
	cursor: pointer;
}

.menuRight{
	display: flex;
	flex-direction: column;
	width: 250px;
}

.menuRight a{
	display: inline-block;
	padding: 10px 20px;
	margin: 0 0 20px 0;
	color: #fff;
	border-radius: 5px;
}


.popularblock{
	width: 229px;
	box-shadow: 0 0 10px #ccc;
	margin: 20px 0 30px 0;
	padding-top: 5px;
	background: #E3E5E4;
}

.popularblock img{
	width: 229px;
}

.popularblock h5{
	font-size: 13px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.popularblock span{
	font-size: 18px;
	text-align: center;
	background: #67A5B4;
	padding: 10px 20px;
	border-radius: 5px;
	color: #fff;
	position: relative;
	top: -15px; left: 40px;
}

.popularblock p{
	margin-top: 10px;
	line-height: 10px;
	font-size:13px;
	margin-left: 40px;
}

.popularblock button{
	margin-top: 10px;
	text-align: center;
	background: #FF9501;
	border: 1px solid #FE7600;
	color: #fff;
	text-transform: uppercase;
	width: 229px;
	padding: 10px 0;
	cursor: pointer;
}

.popularRubrik .title{
	margin-top: 50px;
	text-align: center;
}
.buttonskupit{
	display: flex;
	justify-content: flex-end !important;
}

.navigation{
	width: 100%;
	background: #E3E5E4;
	padding: 20px 15px;
	margin-top: -25px;
	margin-bottom: 25px;
}
.navigation ul{
	display: flex;
}
.navigation ul li a{
	margin-right: 10px;
	color: #2A2C2B;
}
.editorContainer {
	margin-bottom: 50px;
}
.editorWrapper {
	display: flex;
}
.editorSidebar {
	width: 250px;
	background: #24272c;
	border: 1px solid silver;
}
.editorSidebar a {
	color: white;
	display: flex;
	align-items: center;
	height: 45px;
	border-bottom: 1px solid silver;
	padding: 0 25px;
	height: 50px;
	position: relative;
}
.editorSidebar a:nth-last-child(1) {
	border-bottom: none;
}
.editorSidebar i {
	margin-right: 15px;
}
.custom-file-label::after {
    content: "Обзор" !important;
}
.editorMainWindow {
	background: #dfdfdf;
	flex: 1;
	padding: 48px;
	padding-top: 55px;
}
.editorMainWindow textarea {
	height: 113px;
}
.editorMainWindowContainer {
	/*display: flex;
	flex-direction: column;
	justify-content: center;*/
}
.editorMainWindowContainer button {
	width: 150px;
}
.angle {
	width: 20px;
	height: 20px;
	background: #dfdfdf;
	position: absolute;
	right: -10px;
	transform: rotate(45deg);
}
#editorData {
	display: flex;
	flex-direction: column;
}
#editorSubmitButton {
	align-self: center;
}