

/*****************************************Global****************************************/
body {
	font-family: 'Ubuntu', sans-serif;
	height: 4000px;
}
a:hover {
	text-decoration: none;
}
/*****************************************END of Global****************************************/

/*****************************************desktop navbar****************************************/
.desktopNavbarWrapper {
	height: 40px;
	background: #6e6e6e;
	display: flex;
	align-items: center;
}
.desktopNavbarWrapper a {
	color: white;
}
.desktopNavbarWrapper a:hover {
	text-decoration: underline;	
}
.desktopNavbarContainer {
	display: flex;
	justify-content: space-between;
}
.aboutUsAndCallOrderWrapper {
	display: flex;
	align-items: center;
	width: 303px;
	justify-content: space-between;
	font-size: .9em;
}
.aboutUs {

}
.aboutUsAndCallOrderWrapper .line {
	border-right: 2px solid white;
	height: 24px;
}
.callOrder {
	background: silver;
	width: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-radius: 5px;
	transition: .2s;
	color: black !important;
}
.callOrder:hover {
	background: #e7e7e7;
	text-decoration: none !important;
}

.entranceAndRegistrationWrapper {
	position: relative;
	top: 1px;
	display: flex;
	font-size: .8em;
	width: 160px;
	justify-content: space-between;
	align-items: center;
}
.entranceAndRegistrationWrapper a {
	position: relative;
	top: -2px;
}
.entranceAndRegistrationWrapper .line {
	border-right: 2px solid white;
	height: 16px;
}
/*****************************************END of desktop navbar****************************************/

/*****************************************mobile navbar****************************************/
.mobileNavbarWrapper {
	background: #6e6e6e;
	height: 54px;
	color: white;
	font-size: 2em;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 3;
}
.mobileNavbarSpace {
	height: 54px;
}
/*****************************************END of mobile navbar****************************************/

/*****************************************logo and buttons****************************************/
.logoAndButtonsWrapper {
	
}
.logoAndButtonsContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
}
.logoAndButtonsWrapper img {
	width: 250px;
	margin: 10px 0;
}

.fourBtnWrapper {
	display: flex;
	flex: 1;
	justify-content: space-between;
	margin-left: 77px;
	flex-wrap: wrap;
}
.fourBtnWrapper a {
	height: min-content;
}
.btnSell {
	/*background: orange;*/
	background: #ed7d19;
   border-color: #ed7d19;
   color: white;
}
.btnSell:hover {
	background: #ce6f1d;
	border-color: #ce6f1d;
}
.logoAndButtonsWrapper button {
	min-width: 151px;
	font-size: 13px;
	height: 40px;
	box-shadow: 0px 7px 13px 0px rgba(209,209,209,1);
}

.twoBtnWrapper {
	display: flex;
	justify-content: space-between;
	width: 376px;
	margin-right: 35px;
}
/*****************************************END of logo and buttons****************************************/

/*****************************************first page cards panel****************************************/
.firstPageCardsPanelWrapper {
	background: #6e6e6e;
	padding: 50px 20px;
}
.firstPageCardsPanelContainer {
	display: flex;
	justify-content: center;
	padding: 0;
	flex-wrap: wrap;
}

.bigCol {
	/*background: blue;*/
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}
.smCol {
	width: 50%;
	display: flex;
	flex-direction: column;
}
.colNav {
	height: 40px;
	background: #ffffffc7;
	/*border-radius: 5px;*/
	margin-bottom: 20px;
	width: 100%;
	max-width: 370px;
	/*font-size: 2em;*/
	/*color: white;*/
	position: relative;
	display: flex; 
	align-items: center;
	align-self: center;
	justify-content: center;
	font-size: 15px;
	transition: .3s;
	color: black;
}
.colNav:hover {
	background: #fffffff2;
}
.colNavVertLine {
	border: 2px solid black;
	position: absolute;
	height: 58%;
	right: -2px;
	z-index: 1;
}
.colCardVertLine {
	border: 1px solid #c5c5c5e6;
	position: absolute;
	height: 100%;
	top: -6px;
	right: -1px;
	z-index: 1;	
}
.colCard {
	color: white;
	position: relative;
	display: flex; 
	align-items: center;
	justify-content: center;
	/*background: #00ff0052;*/
	display: flex;
	flex-direction: column;
	padding: 0 9px;
}
.colCard a {
	width: 100%;
	max-width: 340px;
	margin-bottom: 11px;
	border-radius: 4px;
}
.cardsWrapper {
	position: relative;
	border-radius: 4px;
}
.borderCard {
	border: 3px solid silver;	
	border-radius: 3px;
	z-index: 2;	
	position: absolute;
	height: 100%;
	width: 100%;
}
.opacityLayerBackground {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #00000087;
	transition: .2s;
	opacity: 0;
	z-index: 1;
	color: white;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
	border-radius: 4px;
}
.opacityLayerBackgroundText {
	margin-bottom: 14px;
	width: 89%;
	text-align: center;
	/*background: orange;*/
}
.colCardItem {
	background: url(../img/1.jpg) center / cover;
	/*width: 100%;*/
	height: 100%;
	position: relative;
	/*border: 3px solid silver;*/
	border-radius: 3px;
	width: 100%;
	max-width: 340px;
	height: 180px;
}
.smCol a {
	align-self: center;
	width: 100%;
	/*height: 100%;*/
}
.smCol button {
	margin: 10px auto 0;
	width: 120px !important;
}
.centerButton {
	display: flex;
	justify-content: center;
}
.firstColNav {
	border-radius: 5px 0 0 5px;
}
.forthColNav {
	border-radius: 0 5px 5px 0;
}
/*****************************************END of first page cards panel****************************************/

/*****************************************second page cards panel****************************************/
.secondPageNavbarRow {
	display: flex;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 20px;
}
.secondPageNavbarRow a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	background: #ffffffc7;
	flex: 1;
	color: black;
	font-size: 15px;
	position: relative;
	transition: .3s;
}
.secondPageNavbarRow a:hover {
	background: #fffffff2;
}
.searchBarWrapper {
	display: flex;
	max-height: 38px;
}
.searchBarPadding {
	padding: 0 9px;
	border-radius: 5px;
	background: #ececec;
	margin-right: 8px;
}
.searchBarWrapper input {
	height: 100%;
	border: none;
	width: 340px;
	background: #ececec;
	outline: none;
}

.secondPageMobileNavbarWrapper {
	height: 264px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.secondPageMobileNavbarWrapper a {
	display: flex;
	border-radius: 5px;
	height: 40px;
	width: 270px;
	background: #ffffffc7;
	transition: .3s;
	color: black;
	align-items: center;
	justify-content: center;
}
.secondPageMobileNavbarWrapper a:hover {
	background: #fffffff2;
}
/*****************************************END of second page cards panel****************************************/

/*****************************************second page bread crumbs****************************************/
.breadCrumbsWrapper {
	height: 64px;
	background: #E3E5E4;
	display: flex;
	align-items: center;
	margin: 25px auto;
}
.breadCrumbsWrapper a {
	margin-right: 8px;
	color: black;
}
/*****************************************END of second page bread crumbs****************************************/

/*****************************************second page category****************************************/
.categoryWrapper {
	height: 40px;
	background: #383838;
	color: white;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	margin-bottom: 50px;
	box-shadow: 0px 7px 13px 0px rgba(209,209,209,1);
}
/*****************************************END of second category****************************************/

/*****************************************footer****************************************/
.footerContainer {
	height: 70px;
	background: #282828;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: .9em;
}
.footerContainer .container {
	text-align: center;
}
/*****************************************END of footer****************************************/

/*****************************************lorem****************************************/