

/*****************************************desktop navbar****************************************/
@media (max-width: 991px) {
	.desktopNavbarWrapper {
		display: none;
	}
}
/*****************************************END of desktop navbar****************************************/

/*****************************************mobile navbar****************************************/
@media (min-width: 992px) {
	.mobileNavbarWrapper, .mobileNavbarSpace, .secondPageMobileNavbarWrapper {
		display: none;
	}
}
/*****************************************END of mobile navbar****************************************/

/*****************************************logo and buttons****************************************/
@media (max-width: 1199px) {
	.logoAndButtonsContainer {
		flex-direction: column;
		padding-bottom: 24px;
	}
	.howItWorksButton {
		margin-left: 85px;
	}
	.fourBtnWrapper {
		margin-left: 0;
		margin-top: 5px;
		width: 718px;
	}
	.twoBtnWrapper {
		margin-top: 5px;
		margin-right: 0;
	}
	.aboutUsAndCallOrderWrapper .line {
		margin: 0 40px;
	}
	.ownCallOrder {
		margin-left: 225px;
	}
}
@media (max-width: 991px) {
	.logoAndButtonsWrapper img {
		margin: 25px 0 20px;
	}
	.howItWorksButton {
		display: none;
	}
	.searchInputWrapper {
		display: none;
	}
	.fourBtnWrapper {
		width: 670px;
	}
	.howItWorksAndSearchBar {
		justify-content: center;
		border: none;
		width: 40%;
		margin: 0 0 -30px 0;
		padding: 25px 0;
		background: none;
	}
}
@media (max-width: 767px) {
	.fourBtnWrapper {
		width: 325px;
	}
	.marginBtn {
		margin-bottom: 22px;	
	}
	.mobileInputButtonWrapper {
		margin-left: 45px;
	}
	.hamburgerLocal {
		margin-left: 35px;
	}
}	
@media (max-width: 472px) {
	.mobileInputButtonWrapper {
		margin-left: 15px;
	}
}
@media (max-width: 555px) {
	.twoBtnWrapper {
		width: 325px;	
	}
}
/*****************************************END of logo and buttons****************************************/

/*****************************************first and second page cards panel****************************************/
@media (max-width: 991px) {
	.bigCol {
		width: 100%;
		margin-bottom: 50px;
	}
	.secondColNav {
		border-radius: 0 5px 5px 0;
	}
	.thirdColNav {
		border-radius: 5px 0 0 5px;
	}
	.hiddenColNavNCardVertLine992 {
		display: none;
	}
	.noMarginBottom {
		margin-bottom: 0;
	}

	.secondPageNavbarRow, .searchBarWrapper {
		display: none;
	}
}
@media (max-width: 596px) {
	.firstBigCol {
		margin-bottom: 0;	
	}	
	.smCol {
		width: 100%;
		margin-bottom: 30px;
	}
	.marginBetweenSmCol {
		margin-bottom: 62px;
	}
	.firstColNav, .secondColNav,
	.thirdColNav, .forthColNav {
		border-radius: 5px;
	}
	.hiddenColNavNCardVertLine596 {
		display: none;
	}
	.lastSmCol {
		margin-bottom: 0;
	}
}
/*****************************************END of first and second page cards panel****************************************/

/*****************************************second page main content****************************************/
@media (max-width: 991px) {
	.secondPageMainContentWrapper {
		flex-direction: column;
	}
	.centerCards {
		width: 100%;
	}
}
/*****************************************END of second page main content****************************************/

/*****************************************news block****************************************/
@media (max-width: 991px) {
	.newsBlockWrapper {
		/*max-width: auto;*/
	}
}	
/*****************************************END of news block****************************************/